# Secrets
.env
.env.*
!.env.example

# Virtual env
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs
*.log
data/raw/ingestion.log
data/processed/*.log

# Raw data
data/raw/

# Local processed outputs
data/processed/snowflake/10k/

# Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store
